{% extends "/layouts/base.html.twig" %}
{% block body %}
    <h1 class="mb-4">SparkPlug Developer Home</h1>
    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            Tools
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <strong>Device Simulator: </strong>
                <a href="#" onclick="window.open('{{ path('app') }}','targetWindow',
                        `toolbar=no,
                        location=no,
                        status=no,
                        menubar=no,
                        scrollbars=yes,
                        resizable=no,
                        width=640,
                        height=920`);">
                    Launch Simulator
                </a>
            </li>
            <li class="list-group-item">
                <strong>Debug Panel: </strong>
                <a href="{{ path('debug_panel') }}">Open Debug Panel</a>
            </li>
            <li class="list-group-item">
                <div class="row">
                    <div class="col-auto">
                        <strong>Create Location History:</strong>
                    </div>
                    <div class="col-auto">
                        <input class="form-control" aria-label="vehicle_id" placeholder="Vehicle ID" onchange="document.getElementById('vehicle_location_link').href = '{{ path('bosshog', {vehicle: "_default_"}) }}'.replace('_default_', this.value)"/>
                    </div>
                    <div class="col-auto">
                        <a class="btn btn-primary" id="vehicle_location_link">GO</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
{% endblock %}