{% extends '/layouts/base.html.twig' %}
{% block extendedBody %}
    <div class=" min-vh-100 container-fluid p-0 m-0 pt-5">
        <div class="flex-column flex-fill pt-2 tab-content" >
            {% block panels %}{% endblock %}
        </div>
        <nav
                class="nav flex-column bg-body-secondary border-secondary shadow-4-strong m-0"
                style="height: 48px; min-height: 48px; width: 100%">
            {% block sidebar %}{% endblock %}
        </nav>
    </div>
{% endblock %}