<div class="p-4 bg-dark-subtle vehicle-selector">
    <h1 class="fw-light vehicle-text" id="home-selector">2002 Ralsei Deltarune</h1>
    <div class="d-flex">
        <span class="bi-chevron-left my-auto" style="font-size: 96px;"></span>
        <img src="{{ asset("img/ralsei.png") }}" class="w-75 mx-auto"/>
        <span class="bi-chevron-right my-auto" style="font-size: 96px;"></span>
    </div>
</div>
<div class="p-4 d-block h-auto">
    <div class="d-flex">
        <span class="bi-thermometer-high pe-2 fs-3"></span>
        <p class="fs-3 fw-bold">Internal/External Temp</p>
        <p class="ms-auto fs-3 pt-0">72&deg;/97&deg; (F)</p>
    </div>
    <div class="d-flex">
        <span class="bi-fuel-pump-fill pe-2 fs-3"></span>
        <p class="fs-3 fw-bold">Available Fuel</p>
        <p class="ms-auto fs-3 pt-0">2.5 Gal / 67.2 Mi</p>
    </div>
    <div class="d-flex">
        <span class="bi-clock-fill pe-2 fs-3"></span>
        <p class="fs-3 fw-bold">Last Drive</p>
        <p class="ms-auto fs-3 pt-0">Nov. 29, 12:40PM</p>
    </div>
    <nav class="row mt-auto" style="position: absolute; width: calc(100vw - 24px); bottom: 64px;">
        <a href="#" class="tile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="currentColor">
                <text text-anchor="end" x="92" y="12">Lock/Unlock</text>
            </svg>
        </a>
        <button class="tile btn btn-link" data-pane-control="sub" data-bs-target="#metrics_link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="currentColor">
                <text text-anchor="end" x="92" y="12">Metrics</text>
            </svg>
        </button>
        <button class="tile btn btn-link" data-pane-control="sub" data-bs-target="#actions_link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="currentColor">
                <text text-anchor="end" x="92" y="12">Actions</text>
            </svg>
        </button>
    </nav>
</div>