<div class="p-4 bg-dark-subtle vehicle-selector">
    <h1 class="fw-light vehicle-text" id="home-selector">2002 Ralsei Deltarune</h1>
    <div class="d-flex">
        <span class="bi-chevron-left my-auto" style="font-size: 96px;"></span>
        <svg xmlns="http://www.w3.org/2000/svg" class="bi bi-car-front mx-auto" fill="currentColor" viewBox="0 0 16 16" style="color: var(--uwu-primary); height: 12rem;">
            <path d="M4 9a1 1 0 1 1-2 0 1 1 0 0 1 2 0m10 0a1 1 0 1 1-2 0 1 1 0 0 1 2 0M6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2zM4.862 4.276 3.906 6.19a.51.51 0 0 0 .497.731c.91-.073 2.35-.17 3.597-.17s2.688.097 3.597.17a.51.51 0 0 0 .497-.731l-.956-1.913A.5.5 0 0 0 10.691 4H5.309a.5.5 0 0 0-.447.276"/>
            <path d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679q.05.242.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.8.8 0 0 0 .381-.404l.792-1.848ZM4.82 3a1.5 1.5 0 0 0-1.379.91l-.792 1.847a1.8 1.8 0 0 1-.853.904.8.8 0 0 0-.43.564L1.03 8.904a1.5 1.5 0 0 0-.03.294v.413c0 .796.62 1.448 1.408 1.484 1.555.07 3.786.155 5.592.155s4.037-.084 5.592-.155A1.48 1.48 0 0 0 15 9.611v-.413q0-.148-.03-.294l-.335-1.68a.8.8 0 0 0-.43-.563 1.8 1.8 0 0 1-.853-.904l-.792-1.848A1.5 1.5 0 0 0 11.18 3z"/>
        </svg>
        <span class="bi-chevron-right my-auto" style="font-size: 96px;"></span>
    </div>
</div>
<div class="p-4 d-block h-auto">
    <div class="d-flex">
        <span class="bi-thermometer-high pe-2 fs-3"></span>
        <p class="fs-3 fw-bold">Internal/External Temp</p>
        <p class="ms-auto fs-3 pt-0" data-engine-change="103&deg;/97&deg; (F):72&deg;/97&deg; (F)"></p>
    </div>
    <div class="d-flex">
        <span class="bi-fuel-pump-fill pe-2 fs-3"></span>
        <p class="fs-3 fw-bold">Available Fuel</p>
        <p class="ms-auto fs-3 pt-0">2.5 Gal / 67.2 Mi</p>
    </div>
    <div class="d-flex">
        <span class="bi-clock-fill pe-2 fs-3"></span>
        <p class="fs-3 fw-bold">Last Drive</p>
        <p class="ms-auto fs-3 pt-0">Nov. 29, 12:40PM</p>
    </div>
    <nav class="row mt-auto" style="position: absolute; width: calc(100vw - 24px); bottom: 64px;">
        <a href="#" class="tile">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill" viewBox="0 0 16 16">
                <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="currentColor">
                <text text-anchor="end" x="92" y="12">Lock/Unlock</text>
            </svg>
        </a>
        <button class="tile btn btn-link" data-pane-control="sub" data-bs-target="#metrics_link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1z"></path>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="currentColor">
                <text text-anchor="end" x="92" y="12">Metrics</text>
            </svg>
        </button>
        <button class="tile btn btn-link" data-pane-control="sub" data-bs-target="#actions_link">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lightbulb-fill" viewBox="0 0 16 16">
                <path d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13h-5a.5.5 0 0 1-.46-.302l-.761-1.77a2 2 0 0 0-.453-.618A5.98 5.98 0 0 1 2 6m3 8.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1-.5-.5"/>
            </svg>
            <svg xmlns="http://www.w3.org/2000/svg" width="100" height="20" viewBox="0 0 100 20" fill="currentColor">
                <text text-anchor="end" x="92" y="12">Actions</text>
            </svg>
        </button>
    </nav>
</div>