<twig:vehicle-selector vehicle="2002 Ralsei Deltarune" heading="Logs and Diagnostics" id="vehicle-diagnostics-selector"/>
<div class="p-4 pt-0">
    <div class="p-4 pt-0 d-block h-auto div-zebra div-logs">
        <div class="d-flex">
            <div class="ps-1">
                <p class="fs-5 mb-0">Oil Change Due</p>
                <p class="ms-auto fs-6">2024/11/29 12:40PM</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="ps-1">
                <p class="fs-5 mb-0">Oil Change Due</p>
                <p class="ms-auto fs-6">2024/11/29 12:40PM</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="ps-1">
                <p class="fs-5 mb-0">Oil Change Due</p>
                <p class="ms-auto fs-6">2024/11/29 12:40PM</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="ps-1">
                <p class="fs-5 mb-0">Oil Change Due</p>
                <p class="ms-auto fs-6">2024/11/29 12:40PM</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="ps-1">
                <p class="fs-5 mb-0">Oil Change Due</p>
                <p class="ms-auto fs-6">2024/11/29 12:40PM</p>
            </div>
        </div>
        <div class="d-flex">
            <div class="ps-1">
                <p class="fs-5 mb-0">Oil Change Due</p>
                <p class="ms-auto fs-6">2024/11/29 12:40PM</p>
            </div>
        </div>
    </div>
</div>
