<div class="p-4 d-block h-auto div-zebra">
    <div class="d-flex">
        <span class="bi-thermometer-high pe-2 fs-3"></span>
        <p class="fs-3">Engine Temperature</p>
        <p class="ms-auto fs-3 pt-0 fw-bold" data-engine-change="106&deg; F:212&deg; F"></p>
    </div>
    <div class="d-flex">
        <span class="bi-feather pe-2 fs-3"></span>
        <p class="fs-3">Fuel Economy</p>
        <p class="ms-auto fs-3 pt-0 fw-bold">good i guess</p>
    </div>
    <div class="d-flex">
        <span class="bi-fuel-pump-fill pe-2 fs-3"></span>
        <p class="fs-3">Vehicle Range</p>
        <p class="ms-auto fs-3 pt-0 fw-bold">couple miles</p>
    </div>
    <div class="d-flex">
        <span class="bi-speedometer pe-2 fs-3"></span>
        <p class="fs-3">Engine RPM</p>
        <p class="ms-auto fs-3 pt-0 fw-bold" data-engine-change="none:SO MANY!!"></p>
    </div>
    <div class="d-flex">
        <span class="bi-rulers pe-2 fs-3"></span>
        <p class="fs-3">Odometer</p>
        <p class="ms-auto fs-3 pt-0 fw-bold">big 🤯</p>
    </div>
</div>