<template id="template-notification">
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0" data-template-slot="title"></p>
            <p class="ms-auto fs-6" data-template-slot="message"></p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto" data-template-slot="delete"></span>
    </div>
</template>
<div class="p-4 d-block h-auto div-zebra" data-template-target="notifications">
</div>