<form class="pt-2">
    <twig:field:input name="firstName">First Name</twig:field:input>
    <twig:field:input name="lastName">Last Name</twig:field:input>
    <twig:field:input name="email" type="email">Email</twig:field:input>
    <twig:field:input name="phoneNum" type="tel">Phone Number</twig:field:input>
    <button class="btn btn-primary" data-request-method="POST">Save</button>
</form>