<form class="pt-2">
    <div class="row">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="profile_firstName" placeholder="John">
            <label class="ms-2" for="profile_firstName">First Name</label>
        </div>
    </div>
    <div class="row">
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="profile_lastName" placeholder="Doe">
            <label class="ms-2" for="profile_lastName">Last Name</label>
        </div>
    </div>
    <div class="row">
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="profile_email" placeholder="example@und.edu">
            <label class="ms-2" for="profile_email">Email</label>
        </div>
    </div>
    <div class="row">
        <div class="form-floating mb-3">
            <input type="tel" class="form-control" id="profile_phone" placeholder="(701) 777-2222">
            <label class="ms-2" for="profile_phone">Phone Number</label>
        </div>
    </div>
    <button class="btn btn-primary">Save</button>
</form>