<div class="p-4 d-block h-auto div-zebra">
    <a class="d-flex">
        <span class="bi-geo-alt-fill pe-2 fs-3"></span>
        <p class="fs-3">Locale</p>
        <span class="ms-auto bi-chevron-right pe-2 fs-3"></span>
    </a>
    <a class="d-flex">
        <span class="bi-person-lines-fill pe-2 fs-3"></span>
        <p class="fs-3">My Profile</p>
        <span class="ms-auto bi-chevron-right pe-2 fs-3"></span>
    </a>
    <a class="d-flex" data-pane-control="sub" data-bs-target="#vehicle_link">
        <span class="bi-car-front-fill pe-2 fs-3"></span>
        <p class="fs-3">Vehicles</p>
        <span class="ms-auto bi-chevron-right pe-2 fs-3"></span>
    </a>
    <a class="d-flex">
        <span class="bi-shield-lock-fill pe-2 fs-3"></span>
        <p class="fs-3">Security</p>
        <span class="ms-auto bi-chevron-right pe-2 fs-3"></span>
    </a>
    <a class="d-flex">
        <span class="bi-file-earmark-text-fill thermometer-high pe-2 fs-3"></span>
        <p class="fs-3">Privacy Policy</p>
        <span class="ms-auto bi-chevron-right pe-2 fs-3"></span>
    </a>
</div>