<div class="p-4 d-block h-auto div-zebra">
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
    <div class="d-flex">
        <div>
            <p class="fs-5 mb-0">Pending Software Update</p>
            <p class="ms-auto fs-6">update ur car shithead</p>
        </div>
        <span class="bi-trash-fill pe-2 fs-1 pt-1 ms-auto"></span>
    </div>
</div>