<header class="fixed-top shadow">
    <nav class="navbar navbar-expand bg-body-tertiary" style="max-height: 56px;">
            <a id="root_url" href="{{ url('root') }}" class="ms-3">
                <div class="navbar-brand align-items-center d-inline-flex gap-2">
                    <span class="px-1 d-block" aria-description="Site Logo" id="site_logo" style='background-image: url("{{ asset("img/favicon.svg") }}");'></span>
                    car app :3
                </div>
            </a>
    </nav>
</header>