<div class="p-4 bg-dark-subtle vehicle-selector">
    <h1 class="fw-light">{{ heading }}</h1>
    <hr/>
    <div class="d-flex">
        <span class="bi-chevron-left my-auto fs-2"></span>
        <h2 class="w-75 mx-auto text-center fw-light vehicle-text" id="{{ id }}">{{ vehicle }}</h2>
        <span class="bi-chevron-right my-auto fs-2"></span>
    </div>
</div>